<div class="modal fade" id="trainerInformationModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="trainerInformationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title align-self-center" id="trainerInformationModalLabel"></h5>
                <button type="button" class="btn" data-dismiss="modal" aria-label="Close">
                    <span><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex">
                    <img id="photo" class="align-self-start mr-3" />
                    <div id="description"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>